<html>
<head></head>

<body style="margin-top: 11%;margin-left: 20px">
<div class="row" style="height:600px; width:1000px;">
   <div class="span5" style="float:left;height:400px; width:450px;">
		<%= image_tag("/images/p.jpg", :width => 450, :height => 450) %>
		<br>
		<br>
		
	</div>
	
	
	<div class="span5" style="float:left;height:400px; width:500px;">
	
		<p><font color="#FFFFFF">Nothing short of perfection is what you can expect from any M/s. SHREE RAJ GROUP project. That’s because we believe in getting down to the minutest of details. Every project is executed keeping in mind your lifestyle, your conveniences. As Mumbai’s leading real estate development company, we take utmost care to ensure that you get the best value for your investment and the trust you put in us . What makes this possible is our team of highly qualified, experienced and dedicated engineers, our stringent quality standards and our dream of making a difference to your life and the life of all our esteemed customers... to provide a home that will last a lifetime. So if you’re looking for a home that’s well conceived, well designed and well engineered, it’s got to be M/s. SHREE RAJ GROUP  Builders & Developers.

		For over 10 years, M/s. SHREE RAJ GROUP Builders & Developers. have been engaged in the business of Real Estate Development and Financing Activities. The Promoters and their teams of the Associated Group have the relevant professional, educational and business backgrounds with a rigorous work experience of over 10 years. All peripheral services that are essential for Real Estate Development Planning and Execution Activities are located under one roof. For over two decades, M/s. SHREE RAJ GROUPBuilders & Developers. have been engaged in the business of Real Estate Development and Financing Activities. The Promoters and their teams of the Associated Group have the relevant professional, educational and business backgrounds with a rigorous work experience of over 10 years. All peripheral services that are essential for Real Estate Development Planning and Execution Activities are located under one roof. The Promoters and their teams of the Associated Group have the relevant professional, educational and business backgrounds with a rigorous work experience of over 10 years.
		</font></p>
	</div>
	
</div>
</body>
</html>